<div class="app-body "
	 style="position: relative;transform: translate(0%, 10%);">
	<main class="main d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<div class="card mx-4">
						<div class="card-body p-4">
							<form [formGroup]="registerForm"
								  autocomplete="off"
								  (ngSubmit)="submit()">
								<h1>Register</h1>
								<p class="text-muted">Create your account</p>
								<ng-container *ngIf="isControlHasError('username','required')">
									<small style="color: red;">{{ '*Không được bỏ trống' }}</small>
								</ng-container>
								<ng-container *ngIf="isControlHasError('username','minlength')">
									<small style="color: red;">{{ '*Username quá ngắn' }}</small>
								</ng-container>
								<ng-container *ngIf="isControlHasError('username','maxlength')">
									<small style="color: red;">{{ '*Username quá dài' }}</small>
								</ng-container>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
									</div>
									<input type="text"
										   class="form-control"
										   placeholder="Username"
										   formControlName="username"
										   required>
								</div>
								<ng-container *ngIf="isControlHasError('email','required')">
									<small style="color: red;">{{ '*Không được bỏ trống' }}</small>
								</ng-container>
								<ng-container *ngIf="isControlHasError('email','email')">
									<small style="color: red;">{{ '*Email không đúng định dạng' }}</small>
								</ng-container>
								<ng-container *ngIf="isControlHasError('email','minlength')">
									<small style="color: red;">{{ '*Email quá ngắn' }}</small>
								</ng-container>
								<ng-container *ngIf="isControlHasError('email','maxlength')">
									<small style="color: red;">{{ '*Email quá dài' }}</small>
								</ng-container>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="nc-icon nc-send"></i></span>
									</div>
									<input type="text"
										   class="form-control"
										   placeholder="Email"
										   formControlName="email"
										   required>
								</div>
								<ng-container *ngIf="isControlHasError('password','required')">
									<small style="color: red;">{{ '*Không được bỏ trống' }}</small>
								</ng-container>
								<ng-container *ngIf="isControlHasError('password','minlength')">
									<small style="color: red;">{{ '*Username quá ngắn' }}</small>
								</ng-container>
								<ng-container *ngIf="isControlHasError('password','maxlength')">
									<small style="color: red;">{{ '*Username quá dài' }}</small>
								</ng-container>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
									</div>
									<input type="password"
										   class="form-control"
										   placeholder="Password"
										   formControlName="password"
										   required>
								</div>
								<ng-container *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.ConfirmPassword">
									<small style="color: red;">{{ '*Password không khớp' }}</small>
								</ng-container>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="nc-icon nc-check-2"></i></span>
									</div>
									<input type="password"
										   class="form-control"
										   placeholder="Confirm Password"
										   formControlName="confirmPassword"
										   required>
								</div>
								<button type="submit"
										class="btn btn-block btn-info">Create Account</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>