<div class="app-body "
	 style="position: relative;transform: translate(0%, 20%);">
	<main class="main d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-md-6 mx-auto">
					<div class="card mx-4">
						<div class="card-body p-4">
							<form [formGroup]="registerForm"
								  autocomplete="off"
								  (ngSubmit)="submit()">
								<h1>Register</h1>
								<p class="text-muted">Create your account</p>
								<small style="color: red;">{{ '*' }}
									<ng-container *ngIf="isControlHasError('username','required')">
										{{ ' ' + 'Không được bỏ trống' }}
									</ng-container>
									<ng-container *ngIf="isControlHasError('username','minlength')">
										{{ ' ' + 'Username quá ngắn' }}
									</ng-container>
									<ng-container *ngIf="isControlHasError('username','maxlength')">
										{{ ' ' + 'Username quá dài' }}
									</ng-container>
								</small>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
									</div>
									<input type="text"
										   class="form-control"
										   placeholder="Username"
										   formControlName="username"
										   required>
								</div>
								<small style="color: red;">{{ '*' }}
									<ng-container *ngIf="isControlHasError('email','required')">
										{{ ' ' + 'Không được bỏ trống' }}
									</ng-container>
									<ng-container *ngIf="isControlHasError('email','email')">
										{{ ' ' + 'Email không đúng định dạng' }}
									</ng-container>
									<ng-container *ngIf="isControlHasError('email','minlength')">
										{{ ' ' + 'Email quá ngắn' }}
									</ng-container>
									<ng-container *ngIf="isControlHasError('email','maxlength')">
										{{ ' ' + 'Email quá dài' }}
									</ng-container>
								</small>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="nc-icon nc-send"></i></span>
									</div>
									<input type="text"
										   class="form-control"
										   placeholder="Email"
										   formControlName="email"
										   required>
								</div>
								<small style="color: red;">{{ '*' }}
									<ng-container *ngIf="isControlHasError('password','required')">
										{{ ' ' + 'Không được bỏ trống' }}
									</ng-container>
									<ng-container *ngIf="isControlHasError('password','minlength')">
										{{ ' ' + 'Username quá ngắn' }}
									</ng-container>
									<ng-container *ngIf="isControlHasError('password','maxlength')">
										{{ ' ' + 'Username quá dài' }}
									</ng-container>
								</small>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="nc-icon nc-key-25"></i></span>
									</div>
									<input type="password"
										   class="form-control"
										   placeholder="Password"
										   formControlName="password"
										   required>
								</div>
								<small style="color: red;">{{ '*' }}
									<ng-container
												  *ngIf="registerForm.get('confirmPassword').errors && registerForm.get('confirmPassword').errors.ConfirmPassword">
										{{ ' ' + 'Password không khớp' }}
									</ng-container>
								</small>
								<div class="input-group mb-4">
									<div class="input-group-prepend">
										<span class="input-group-text"><i class="nc-icon nc-check-2"></i></span>
									</div>
									<input type="password"
										   class="form-control"
										   placeholder="Confirm Password"
										   formControlName="confirmPassword"
										   required>
								</div>
								<button type="submit"
										class="btn btn-block btn-info">Create Account</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>