<div class="row">
    <ng-container *ngFor="let user of userData">
        <div class="col-lg-4">
            <div class="card card-user">
                <div class="card-body">
                    <div class="author"
                         style="margin-top: 40px;">
                        <img class="avatar border-gray"
                             src="assets/img/default-avatar.png"
                             alt="...">
                        <a (click)="viewProfile(user)"><h5 class="title"
                            style="font-size: x-large;">{{ user.userName }}</h5></a> 
                        <p class="description">
                            {{ '@' + user.userName }}
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <ng-container *ngIf="user.isFollowed">
                                <button type="button"
                                        class="btn btn-info btn-block btn-round">Followed</button>
                            </ng-container>
                            <ng-container *ngIf="!user.isFollowed">
                                <button type="button"
                                        class="btn btn-info btn-block btn-round"
                                        (click)="onBtnFollowClick(user)">Follow</button>
                            </ng-container>
                        </div>
                        <div class="col-sm-6">
                            <button type="button"
                                    class="btn btn-info btn-block btn-round">Message</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="button-container">
                        <div class="row">
                            <div class="col-sm-4 text-center">
                                <h5>{{ user.postCount }}
                                    <br>
                                    <ng-container *ngIf="user.postCount <= 1">
                                        <small>Post</small>
                                    </ng-container>
                                    <ng-container *ngIf="user.postCount > 1">
                                        <small>Posts</small>
                                    </ng-container>
                                </h5>
                            </div>
                            <div class="col-sm-4 text-center">
                                <h5>{{ user.followerCount }}
                                    <br>
                                    <ng-container *ngIf="user.followerCount <= 1">
                                        <small>Follower</small>
                                    </ng-container>
                                    <ng-container *ngIf="user.followerCount > 1">
                                        <small>Followers</small>
                                    </ng-container>
                                </h5>
                            </div>
                            <div class="col-sm-4 text-center">
                                <h5>{{ user.followedCount }}
                                    <br>
                                    <ng-container *ngIf="user.followedCount <= 1">
                                        <small>Following</small>
                                    </ng-container>
                                    <ng-container *ngIf="user.followedCount > 1">
                                        <small>Followings</small>
                                    </ng-container>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>