<div class="row">
    <div class="col-lg-6 ml-auto mr-auto">
        <div class="card card-stats">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-1 col-1">
                        <div class="avatar">
                            <img src="assets/img/faces/ayo-ogunseinde-2.jpg"
                                 alt="Circle Image"
                                 class="img-circle img-no-padding img-responsive">
                        </div>
                    </div>
                    <div class="col-md-11 col-11">
                        Author
                        <br />
                        <span class="text-muted">
                            <small>Date</small>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <h5>Header</h5>
                <p>Body</p>
            </div>
            <div class="card-footer">
                <hr>
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <button type="button"
                                class="btn btn-info btn-block btn-round">Like</button>
                    </div>
                    <div class="col-sm-4 text-center">
                        <button type="button"
                                class="btn btn-info btn-block btn-round">Comment</button>
                    </div>
                    <div class="col-sm-4 text-center">
                        <button type="button"
                                class="btn btn-info btn-block btn-round">Share</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-2 col-2">
                        <div class="avatar"
                             style="float: right;">
                            <img src="assets/img/faces/ayo-ogunseinde-2.jpg"
                                 alt="Circle Image"
                                 class="img-circle img-no-padding img-responsive">
                        </div>
                    </div>
                    <div class="card bg-light"
                         style="width: auto;">
                        <h5 style="margin-top: 15px;margin-left: 15px;font-size: larger;margin-right: 15px;">
                            Author
                            <br>
                            <small>Comment</small>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>