<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.facebook.com/dangphukhang.2/" target="_blank">Dang Phu Khang</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100005558387520" target="_blank">Tran Hai Long</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100011591232732" target="_blank">Nguyen Viet Chinh</a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a>D2B2LM</a>
        </div>
    </div>
</footer>
